body {
  display: grid;
  grid-template-columns: 20% 60% 60%;
  grid-template-rows: 12px 12px 12px;
}

header {
  grid-row: 1;
  margin: auto;
  text-align: center;
}

#game {
  grid-row: 2;
  border: 10px solid;
  margin: auto;
  display: block;
}

h2 {
  display: inline;
}

.start-button {
  margin: auto 0;
}

header {
