body {
  background-color: #F5FFFF;
  font-family: Open Sans, Sans-Serif;
}

header {
  margin: auto;
  max-width: 500px;
}

#canvas {
  background-color: #FFFFFF;
  border: 10px solid #2A2F45;
  display: block;
  margin: auto;
}

article {
  display: flex;
  justify-content: space-between;
}

h1{
  color: #2A2F45;
  text-align: center;
}

h2 {
  color: #BD1147;
  display: inline;
}

p {
  color: #2A2F45;
  font-weight: 600;
}

.start-button {
  background-color: #2A2F45;
  border-radius: 18px;
  border: 0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  height: 10%;
  margin: auto 0;
  padding: 10px 0px 10px 0px;
  text-align: center;
  width: 25%;
}

.start-button:hover {
  background-color: #003A5F;
}